beautifulsoup4==4.9.3
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
comtypes==1.1.7
gTTS==2.2.1
gTTS-token==1.1.4
idna==2.10
pip-autoremove==0.9.1
playsound==1.2.2
PyAudio @ file:///C:/Users/afons/Desktop/pyvoice/pyVoice/PyAudio-0.2.11-cp39-cp39-win_amd64.whl
requests==2.25.0
six==1.15.0
soupsieve==2.1
SpeechRecognition==3.8.1
urllib3==1.26.2
